/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  img {
    height: 100%;
  }

  



/* Media Queries */

@media only screen and (max-width: 800px) {
    .mobile {
      flex-direction: column;
    }
  
    .program-images > div {
      width: 100%;
    }
  
    .market-ready-image {
      width: 100%;
    }
  }
  